main {
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
}
h1 {
    margin-top: 150px;
    text-align: center;
}
#rock, #paper, #scissors {
    font-size: 8em;
    padding: 20px;
}
i:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}
#game-messages, #computer-choice {
    font-family: 'Play', sans-serif;
}
#scoreboard {
    margin: auto;  
}
#scoreboard>div {
    display: inline-block;
    padding: 40px;
}
